# いらない

*.log
*.csv

setdate_milli

uploads/*
!uploads/org
!uploads/0000000000000000
uploads/0000000000000000/*.csv
uploads/0000000000000000/video*
vendor/*

#composer.lock
composer.phar

js/*
!js/jquery.mobile-1.3.1.zip

node_modules/*

# 絶対に非管理
sc.php
